/*resources/scss/app.scss*/
@import "bootstrap/scss/bootstrap";

@import "./partials/mixins";
@import "./partials/variables";

ul{
    margin-bottom: 0;
}

figure{
    margin: 0;
}

nav{
    figure{
        width: 60px;
        height: 60px;
    }
    ul{
      height: 90px;
      li{
        height: 90px;
        a{
          font-size: 90%;
          height: 90px;
          color: black;
          border-bottom: 5px solid transparent;
          &:hover {
            color: $dc-color;
            border-bottom: 5px solid $dc-color;
          }
        }
      }
    }
  }

  #content-here{
    background-color: black;
    #jumbo{
      height: 300px;
      width: 100%;
      background-image: url(../img/jumbotron.jpg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      position: relative;
      span{
        font-size: 140%;
        background-color: $dc-color;
        position: absolute;
        top: 100%;
        left: 10%;
        transform: translateY(-50%); 
      }
    }
    button{
        background-color: $dc-color;
        color: white;
        border: none;
        &:hover {
          color: black;
          background-color: white;
        }
    }
}

.col-2{
  figure{
    aspect-ratio: 1;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    font-size: 90%;
}
}

#our-shop{
  background-color: $dc-color;
  ul{
      li{
          a{
              font-size: 85%;
              border-bottom: 3.5px solid transparent;
              &:hover {
                  color: $dc-color;
                  border-bottom: 3.5px solid white;
              }
              figure{
                  width: 40px;
                  height: 40px;
                  @include background-contain;
              }
          }
      }
  }
}

#footer-links{
  background-image: url(../img/footer-bg.jpg);
  li{
    font-size: 90%;
    a{
        font-size: 90%;
        border-bottom: 1px solid transparent;
        &:hover {
            color: $dc-color;
            border-bottom: 1px solid white;
        }
    }
  }
}
#dc-logo{
      background-image: url(../img/dc-logo-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }

      #sign-up{
        background-color: #333333;
        button{
            border: 1px solid $dc-color;
            background-color: transparent;
            color: white;
            &:hover {
            color: $dc-color;
            border: 1px solid white;
            }
        }
        li{
            color: $dc-color;
            figure{
                width: 25px;
            }
        }
    }