/*resources/scss/app.scss*/
@import "bootstrap/scss/bootstrap";

@import "./partials/mixins";
@import "./partials/variables";

ul{
    margin-bottom: 0;
}

figure{
    margin: 0;
}

nav{
    figure{
        width: 60px;
        height: 60px;
    }
    ul{
      height: 90px;
      li{
        height: 90px;
        a{
          font-size: 90%;
          height: 90px;
          color: black;
          border-bottom: 5px solid transparent;
          &:hover {
            color: $dc-color;
            border-bottom: 5px solid $dc-color;
          }
        }
      }
    }
  }
